<div class="flex flex-col flex-wrap justify-center items-center bg-slate-100">
  <h2 class="font-bold text-2xl text-center p-5 m-5">
    {{ id ? "Edytuj" : "Nowy" }} telefon
  </h2>
  <div
    class="flex flex-col flex-wrap bg-white text-center w-1/5 m-5 p-5 rounded-2xl shadow-2xl items-center justify-center"
  >
    <form [formGroup]="form" (ngSubmit)="save()">
      <div>
        <label>Nazwa:</label>
        <input
          class="bg-slate-100 px-4 py-2 m-2 roundedmd"
          formControlName="name"
        />
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
          Nazwa musi zawierać od 3 do 15 znaków.
        </div>
      </div>
      <div>
        <label>Numer:</label>
        <input
          class="bg-slate-100 px-4 py-2 m-2 roundedmd"
          type="string"
          formControlName="phoneNumber"
        />
        <div
          *ngIf="
            form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched
          "
        >
          Proszę podać prawidłowy numer telefonu.
        </div>
      </div>
      <div class="flex flex-wrap gap-5 items-center justify-center">
        <button
          class="bg-blue-500 hover:bg-blue-700 disabled:bg-gray-500 transition-colors duration-200 px-4 py-2 m-1 shadow-md rounded-md text-white"
          type="submit"
          [disabled]="form.invalid"
        >
          Zapisz
        </button>
        <button
          class="bg-red-500 hover:bg-red-700 transition-colors duration-200 px-4 py-2 m-1 shadow-md rounded-md text-white"
          type="button"
          (click)="router.navigate(['/'])"
        >
          Anuluj
        </button>
      </div>
    </form>
  </div>
</div>
